<p id="notice"><%= notice %></p>

<h1>Realcosts</h1>

<table>
  <thead>
    <tr>
      <th>Re date</th>
      <th>Re value</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realcosts.each do |realcost| %>
      <tr>
        <td><%= realcost.re_date %></td>
        <td><%= realcost.re_value %></td>
        <td><%= realcost.project %></td>
        <td><%= link_to 'Show', realcost %></td>
        <td><%= link_to 'Edit', edit_realcost_path(realcost) %></td>
        <td><%= link_to 'Destroy', realcost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realcost', new_realcost_path %>
