<%= form_with(model: qaqc, local: true) do |form| %>
  <% if qaqc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qaqc.errors.count, "error") %> prohibited this qaqc from being saved:</h2>

      <ul>
      <% qaqc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :qa_name %>
    <%= form.text_field :qa_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
