<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @detail.de_amount %>
</p>

<p>
  <strong>Horas:</strong>
  <%= @detail.de_hour %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @detail.collaborator.nil? ? 'N/A' :  @detail.collaborator.co_name %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= @detail.equipment.nil? ? 'N/A' :  @detail.equipment.eq_name %>
</p>

<p>
  <strong>Clima:</strong>
  <%= @detail.weather.nil? ? 'N/A' :  @detail.weather.we_name %>
</p>

<p>
  <strong>Qaqc:</strong>
  <%= @detail.qaqc.nil? ? 'N/A' :  @detail.qaqc.qa_name %>
</p>

<%= link_to 'Edit', edit_user_project_activity_report_detail_path(params[:user_id], params[:project_id], params[:activity_id], params[:report_id], @detail) %> |
<%= link_to 'Back', user_project_activity_report_details_path %>
